<ion-view title="Login" id="page12">
  <ion-content padding="true" class="has-header">
    <form id="login-form4" class="list">
      <label class="item item-input" id="login-input8">
        <span class="input-label">User Name</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="login-input9">
        <span class="input-label">Password</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <button id="login-button7" class="button button-positive button-block">Log In</button>
  </ion-content>
</ion-view>