<ion-view title="Register" id="page14">
  <ion-content padding="true" class="has-header">
    <form id="register-form6" class="list">
      <label class="item item-input" id="register-input13">
        <span class="input-label">User Name</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="register-input14">
        <span class="input-label">First Name</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="register-input15">
        <span class="input-label">Last Name</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="register-input16">
        <span class="input-label">Password</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="register-input17">
        <span class="input-label">Confirm Password</span>
        <input type="text" placeholder="">
      </label>
      <a ui-sref="tabsController.login()" id="register-button11" class="button button-positive button-block">Register</a>
    </form>
  </ion-content>
</ion-view>